body {
    margin:0;
    
}

header {
    padding: 16px;
    background-color: violet ;
    color: white;
    text-align: center;
    grid-area: header;

}

#menu {
    padding: 16px;
    background-color: rgb(202, 53, 202);
    grid-area: menu;
}

nav{ margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow: column;

 }

 #main-content {
    padding: 32px;
    grid-area: main;

 }

#form{
    padding: 32px;
    font-weight: bold;
    text-align:center;
    grid-area: form;
 }

 footer{
    padding: 16px;
    background-color: violet;
    color: white; 
    font-weight: bold;
    text-align:center;
    grid-area: footer;

 }

 

 #grid-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "menu menu"
    "main main"
    "form form "
    "footer footer";
    grid-template-columns: 1fr 7fr;
 }